@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.card {
  margin-bottom: 1rem;
}

.progress-bar {
  height: 3rem;
  line-height: 3rem;
}
.vote-bar {
  cursor: pointer;
}